/*body {*/
    /*margin: 10px;*/
    /*padding-top: 1rem;*/
    /*background-color: aliceblue;*/
/*}*/

table {
    border-collapse: collapse;
    /*width: 95%;*/
}

th {
    padding: 8px;
    text-align: center;
    /*color: #dcdcdc;*/
    /*border-bottom: 1px solid #ddd;*/
    background-color: slategray;
}

td {
     padding: 8px;
     text-align: left;
     /*border-bottom: 1px solid #ddd;*/
 }

output {
    position: absolute;
    /*left: 30px;*/
    /*top: -10px;*/
    display: none;
    margin-left: 15px;
    width: 40px;
    height: 24px;
    /*border: 1px solid #e2e2e2;*/
    background-color: #fff;
    opacity: 0.8;
    border-radius: 3px;
    color: #777;
    font-size: .8em;
    line-height: 24px;
    text-align: center;
}

.table_values td {
    padding: 1px 10px;
    text-align: left;
    border: 1px solid lightgray;
}

.label_values {
    width: 70px;
}

.current_values {
    width: 110px;
    text-align: right;
}

/*tr:hover {background-color:#f5f5f5;}*/
.menu {
    color: white;
    position: absolute;
    /*padding: 0px 10px 0px 10px;*/
}

.scrollbox {
    /*width: 85%;*/
    padding: 10px;
    text-align: center;
    height: 300px;
    background-color: ghostwhite;
}

.color .c input {
    height: 18px;
}

.starter-template {
    padding: 3rem 1.5rem;
    /*text-align: center;*/
}

.tab_wrap{
    width:95%;
    margin:50px auto;
}
.tab_area{
    font-size:0;
    margin:0 10px;
}
.tab_area label{
    width:150px;
    margin:0 5px;
    display:inline-block;
    padding:12px 0;
    color:#999;
    background:#ddd;
    text-align:center;
    font-size:13px;
    cursor:pointer;
    transition:ease 0.2s opacity;}

.tab_area label:hover{
    opacity:0.5;
}
.panel_area{
    background:#fff;
}
.tab_panel{
    width:100%;
    padding:30px 30px;
    display:none;
}
.tab_panel p{
    font-size:14px;
    letter-spacing:1px;
    text-align:left;
}

.tab_area label.active{
    background:#fff;
    color:#000;
}
.tab_panel.active{
    display:block;
}

.panel_label {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    /*color: #000;*/
    font-family: Arial, Helvetica, sans-serif;
    /*font-weight: bolder;*/
    /*font-size: 1.1em;*/
    padding: 2px 8px;
    margin: 4px 0px;
}

#file_names {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 15px;
}

#file_input {
    color: white;
    background: rgba(0, 0, 0, 0.75);
    width: 330px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
}

#panel_values {
    background: rgba(0, 0, 0, 0.75);
    left: 0px;
    width: 200px;
    z-index: 3;
}

#WebGL-TimeTubes {
    z-index: 1;
    position: relative;
}

#observation_period {
    margin: 10px 0px;
}

#current_values {
    margin: 10px 0px;
}

#observation_period_values {
    padding: 3px 10px;
}

#file_type {
    margin: 5px 0px;
}

#color_map {
    margin-left: 10px;
    float: left;
}

#color_value {
    height: 150px;
    float: left;
}

#color_value_max {
    top: -10px;
}

#color_value_min {
    bottom: -10px;
}

#color_hue {
    margin-top: 5px;
    margin-left: 20px;
    width: 150px;
}

#color_hue_max {
    bottom: 18px;
}

#color_hue_min {
    bottom: 18px;
}

#time_search_form {
    margin: 0px 5px;
}

#time_search_input {
    height: 30px;
    width: 60%;
}

#time_search_button {
    margin-left: 5%;
    height: 30px;
    width: 35%;
}

#initial_line_input {
    height: 30px;
    width: 40px;
    margin: 5px 5px 10px 5px;
    text-align: center;
    /*display:block;*/
    /*margin-bottom: 10px;*/
}

#initial_line_field {
    display: flex;
    justify-content: center;
}

.sub {
    height: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.add {
    height: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.vis_space {
    overflow: hidden;
}

.float_vis {
    float: left;
    width: 50%;
}

#panel_main_area {
    margin: 0px 10px 0px 10px;
    padding-bottom: 5px;
}

.close_panel {
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);;
    padding: 3px 0px;
    text-align: center;
    font-size: small;
}

#file_main_area {
    padding: 15px 10px;
}

/*#scatterplots {*/
    /*width: 50%;*/
/*}*/

/* 軸のスタイル */
g.x_axis path, g.y_axis path {
    stroke: lightgray;
    stroke-width: 1px;
}

/* 罫線スタイル */
g.x_axis line, g.y_axis line{
    stroke: lightgray;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.tooltip {
    padding: 3px 10px 3px 10px;
    position: absolute;
    /*width: 200px;*/
    /*height: 80px;*/
    pointer-events: none;
    background: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

#scatterplots {
    float: left;
    overflow: hidden;
}

#scatter_container {
    float: left;
    /*width: 80%;*/
}

#scatter_detail {
    float: right;
    background: white;
    padding: 10px;
    /*margin: 30px 10px 30px 10px;*/
    /*border: solid thin lightgray;*/
}

#datGUI {
    right: 0px;
    top: 0px;
    position: absolute;
}

/*.scatter_detail_panel {*/
/*}*/

#scatter_menu {
    padding: 10px 30px 10px 30px;
    text-align: right;
    width: 100%;
}

.select_axis {
    width: 150px;
    margin-right: 10px;
}